@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
  /* background: #1D2B64; 
  background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  
  background: linear-gradient(to right, #F8CDDA, #1D2B64);  */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 90vh;
}
.quiz-container{
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px 2px rgba(100,100,100,0.1);
  width: 700px;
  margin-top: 30px;
  max-width: 100%;
  overflow: hidden;
}
.quiz-body{
  padding: 4rem;
}
button{
  background: #E8CBC0;  
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  
  background: linear-gradient(to right, #636FA4, #E8CBC0); 
  border: none;
  color: white;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  padding: 0.8rem;
  cursor: pointer;
}

button:hover{
  background-color: #E8CBC0;
}
button:focus{
  background-color: #E8CBC0;
  outline: none;
}